.aspiring-women-container-wrapper {
    margin: 16px 0; /* Adjust the top and bottom margin */
    margin-left: 25%;
    border-top: 1px solid ;
  }
  .aspiring-women-heading{
    border-bottom: 2px solid #f0f0f0;
     display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: #161616;
    padding-bottom: 6px;

   /* font-size: 16px;
    font-family: sans-serif;
    line-height: 32px;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
} */
  }

  h2 .aspiring-women-heading span{
    position: relative;
    font-size: 24px;
    margin: 5px; /* Adjust the margin around the heading */
    /* border-bottom: 2px solid #000; Underline */
    /* padding-bottom: 8px; Space between text and underline */

  }
 
  h2 .aspiring-women-heading span::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  
  .aspiring-women-container {
    display: flex;
    flex-wrap: wrap; /* Allows the cards to wrap onto multiple lines */
    ; /* Space between cards */
    justify-content: space-between; /* Spread out the cards evenly */
    width: 100%; /* Ensure the container takes up the full width */
    /* margin-left: -75px; */
  }
  
  .aspiring-women-card {
    display: flex;
    width: calc(50% - 16px); /* Two cards per row, accounting for gap */
    max-width: 600px; /* Set a maximum width for the cards */
    
    overflow: hidden;
    flex: 0 1 48%;
    flex-direction: row-reverse;
    height: 100px;
  }
  
  .aspiring-women-card-image {
    width: 25%; /* Adjust as needed */
    overflow: hidden;
    height: 68%;
    margin-top: 25px;
  }
  
  .aspiring-women-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
  }
  
  .aspiring-women-card-content {
    width: 77%; /* Adjust as needed */
    background-color: #fff;
    padding-top: 16px;
  }
  
  .aspiring-women-card-title {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .aspiring-women-card-author {
    font-size: 12px;
    color: #888;
  }
  